<div class="adminwrappercls">
    <app-header></app-header>
  
    <div class="main-content-wrap">
        <mat-card class="generalcls blog" style="padding: 0 !important;">  
            <img src="../../../../assets/images/salesreplists-dashboard-img1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
            <span class="searchblock">
                <span class="searchblockwrapper">
                  <span>
                    <h2>{{header_text}} </h2>
                  </span>
                     
                </span>
                  
                  <!-- <img src="../../../../assets/images/admin-manage-type_img2.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
              </span>
        
  
              <mat-card>
  
                  <mat-card-content class="newform_css">


    </mat-card-content>

  </mat-card>
</mat-card>
</div>






</div>
<app-footer></app-footer>

