<app-header></app-header>
<mat-card class="innerpagebanner inventorydetailbg">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Inventory Details</h1>
    </mat-card-content>
  </span>
  <!-- <img  class="blogheaderimg"> -->
  <span class="blogheaderimgbg"></span>
</mat-card>
<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">
    <mat-card-content class="bred_cram_wrapper">
      <mat-list class="bred_cram_wrapper_list">
        <mat-list-item routerLinkActive="active">
          <a [routerLink]="'/home'"> home </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
        <!-- <mat-list-item routerLinkActive="active">
          <a [routerLink]="'/inventory'"> inventory list </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item> -->
        <mat-list-item routerLinkActive="active activebread">
          <a [routerLink]="'/inventory-detail'"> Inventory Details </a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </span>
</mat-card>

<mat-card class="ptb-40 generalcls inventorydetail">
  <span class="mainwrappercontent">
    <span>
      <mat-card-title class="headinginfo">2017 ACURA RDX TECH PKG</mat-card-title>      
      <mat-card-content>
        <span class="inventorydetailblock">
          <span class="inventorydetailblockleft">
              <span class="big_imagewrapper">
                  <img src="../../../../assets/images/inventory-big-img1.jpg">
              </span>
              <span class="thumb_imgwrapper">
                <mat-list class="flexbox4column">
                  <mat-list-item class="single_thumb_wrapper">
                    <span class="single_thumb_imagewrapper">
                      <img src="../../../../assets/images/inventory-big-img1.jpg">
                    </span>
                  </mat-list-item>
                  <mat-list-item class="single_thumb_wrapper">
                    <span class="single_thumb_imagewrapper">
                      <img src="../../../../assets/images/no-image-default.jpg">
                    </span>
                  </mat-list-item>
                  <mat-list-item class="single_thumb_wrapper">
                    <span class="single_thumb_imagewrapper">
                      <img src="../../../../assets/images/no-image-default.jpg">
                    </span>
                  </mat-list-item>
                  <mat-list-item class="single_thumb_wrapper">
                    <span class="single_thumb_imagewrapper">
                      <img src="../../../../assets/images/no-image-default.jpg">
                    </span>
                  </mat-list-item>
                  <mat-list-item class="single_thumb_wrapper">
                    <span class="single_thumb_imagewrapper">
                      <img src="../../../../assets/images/no-image-default.jpg">
                    </span>
                  </mat-list-item>
                  <mat-list-item class="single_thumb_wrapper">
                    <span class="single_thumb_imagewrapper">
                      <img src="../../../../assets/images/no-image-default.jpg">
                    </span>
                  </mat-list-item>
                  <mat-list-item class="single_thumb_wrapper">
                    <span class="single_thumb_imagewrapper">
                      <img src="../../../../assets/images/no-image-default.jpg">
                    </span>
                  </mat-list-item>
                  <mat-list-item class="single_thumb_wrapper">
                    <span class="single_thumb_imagewrapper">
                      <img src="../../../../assets/images/no-image-default.jpg">
                    </span>
                  </mat-list-item>
                 </mat-list>
              </span>
          </span>
          <span class="inventorydetailblockright">
            <span class="inventorydetailtop">
              <span class="inventorydetailtopinner">
                <span class="topinnerinfoleft">
                  <mat-list>
                    <mat-list-item><span>VIN :</span> 1FTWW3BR7AEA93187 </mat-list-item>
                    <mat-list-item class="clsprice"><span>Price :</span> 24987</mat-list-item>
                    <mat-list-item><span>Odometer :</span> 143310 mi</mat-list-item>
                   </mat-list>
                </span>
                <span class="topinnerinforight">
                  <h1 class="btnrsvp">RSVP</h1>
                  <mat-button><i class="material-icons"> favorite </i> ADD</mat-button>
                </span>
              </span>
            </span>
            <span class="inventorydetailmiddle detaillistcls">
                <mat-list class="flexbox2column">
                  <mat-list-item>
                    <label>id : </label>
                    <span>1FTWW3BR7AEA93187-2d993255-03bb</span>
                  </mat-list-item>
                </mat-list>
            </span>
            <span class="inventorydetailbottom">

            </span>
          </span>
        </span>
      </mat-card-content>
    </span>
  </span> 
</mat-card> 


<app-footer></app-footer>