<app-header></app-header>
<mat-card class="innerpagebanner blogbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <h1>Blogs</h1>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>Blogs</h2>
            </mat-card-content>
        </span>
</mat-card>




<mat-card class="ptb-40 generalcls blog bloglist">     
    <span class="mainwrappercontent">
        <span class="bloglistinner">
            <span class="bloglistswrapper">
                <mat-card-content class="bottom_blog">    
                    <span class="item_wrapper">
                  
                        
                      <mat-card-content class="item" *ngFor="let item of bloglisting | slice:0:indexval ; let i=index">
                        <span class="item_images">
                          <img [src]="item.blogs_image">
                        </span>
                        <span *ngFor="let vurl of item.credentials" >
                     
                        <button mat-button type="button"  class="btnblue sim-button" *ngIf="vurl.video_url !='' && vurl.video_url !=null " (click)="openvideourl(vurl.video_url)">Open Video Url</button>
                 
                      </span>

                        <mat-card-content class="contentsection">
                          <mat-card-title class="inner_header">{{item.blogtitle}}</mat-card-title>
                          <span class="author">
                            <span class="authornmimg">
                              <span class="writer_image">
                                <img src="../../../../assets/images/blog-icon.png">
                              </span>
                              <p class="authorName">{{item.author}}</p>
                            </span>
                            <p class="date">Date: {{item.date_added}} </p>
                          </span>
                          <p class="description">{{item.description_html}}</p>  
                          <a class="next_page" (click)="blogdetail(item._id)">read more</a>
                          <span class="blogsociallists">
                              <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                              <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                              <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                              <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                              <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                              <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                            </span>          
                        </mat-card-content>
                    </mat-card-content>
                    </span>
                    <button mat-button class="btnblue sim-button" *ngIf="bloglisting !=null && indexval < bloglisting.length"  (click)="blogloadmore()">Load More</button>                  
                  </mat-card-content> 
                                                       
            </span>        
            <span class="categorywrapper">
                <h2>Categories ({{blogcategorycount}})</h2>
                <mat-accordion class="category">
                        <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of blogcategory">
                          <mat-expansion-panel-header >
                            <mat-panel-title  >
                                {{item.blogtitle}} &nbsp;
                              <h4 >({{count}})</h4>
                            </mat-panel-title>                           
                          </mat-expansion-panel-header>



                          <ng-container *ngFor="let itemVal of bloglisting">                            
                              <span *ngIf="itemVal.blogcategory == item.blogtitle"> 
                                <div class="categorysub" (click)="blog(itemVal)"  [ngClass]="{'active': itemVal._id == blogcat }">   
                                  <p class="inner_header">{{itemVal.metatitle}}</p>
                                </div>
                              </span>
                         </ng-container>                        
                        </mat-expansion-panel>  

                      </mat-accordion>
            </span>
        </span>        
    </span>
</mat-card>

<app-footer></app-footer>