.loginwrappernew{
    position: relative;
    width: 600px!important;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginwrappernew .loginbtn{
    z-index: 9999;
    bottom: 0;
    position: absolute;
    top: 51%;
    height: 65px;
    left: 15px;
    width: 95%;
    background-image:none !important;
    color: #fff !important;
    background: #12c3e3 !important;
    border: 1px solid #12c3e3 !important;
    font-size: 24px !important;
    line-height: normal;
}

