<!-- 
<div class="demo-border">
        <drag-scroll class="demo-one"
          drag-scroll-y-disabled="true"
          scrollbar-hidden="true"
          (dsInitialized)="onDragScrollInitialized()"
          (indexChanged)="onIndexChanged($event)"
          (reachesLeftBound)="leftBoundStat($event)"
          (reachesRightBound)="rightBoundStat($event)"
          (snapAnimationFinished)="onSnapAnimationFinished()"
          (dragStart)="onDragStart()"
          (dragEnd)="onDragEnd()"
          #nav
          >
          <div class="modelthumbwrapper" [ngClass]="i === index ? 'active': ''" drag-scroll-item *ngFor="let testmon of TestimonialListArray; let i = index">
            <div class="modelmodelthumbimg1">
                <img [src]="testmon.image" (click)="clickItem(testmon)"/>
            </div>
            
            <div class="testimonialcontent">
                <mat-card-title drag-scroll-item class="demo cursor">{{testmon.name}}</mat-card-title>
                <mat-card-title drag-scroll-item class="title2 demo cursor">{{testmon.designation}}</mat-card-title>
                <mat-card-content drag-scroll-item class="quatation demo cursor">{{testmon.quatation}}
                </mat-card-content>
              </div>
          </div>
          
        </drag-scroll>


        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <button mat-raised-button color="primary"  (click)="moveTo(0)">first</button>
          <button mat-raised-button color="primary"  [disabled]="leftNavDisabled" (click)="moveLeft1()">left</button>
          <button mat-raised-button color="primary"  [disabled]="rightNavDisabled" (click)="moveRight1()">right</button>
          <button mat-raised-button color="primary"  (click)="moveTo(TestimonialListArray.length - 1)">last</button>
        </div>
    </div>
    <button mat-button class="btnblue sim-button" (click)="btnClick();">View More</button> -->


  <!-- <button mat-stroked-button class="btngeneral btngray" (click)="btnClick();">View More</button>  -->

<!-- 
<span *ngFor="let testmon of TestimonialListArray">

  <owl-carousel [options]="SlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >  
      <div class="item" *ngFor="let testmon of TestimonialListArray">  
      <div style="align-content: center">  
      <img style="height: 260px;width:100%"src={{testmon.image}}/>  
      </div>  
      </div>  
      </owl-carousel> 

    </span> -->



      <!-- <owl-carousel [options]="SlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']" >  
        <div class="item" *ngFor="let testmon of TestimonialListArray;let i= index">  
          <div style="align-content: center">  
            <img style="height: 200px;width:100%"src={{testmon.image}}/>  
          </div>  
        </div>  
      </owl-carousel>   -->


        <owl-carousel [options]="carouselOptions" [items]="TestimonialListArray" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let image of TestimonialListArray;let i= index">
      <img class="slide-image" src="{{image.image}}"  (click)="showBut()">
      <div class="slide-text">
          <h1 class="title1 demo cursor">{{image.name}}</h1>
          <!-- <h4 class="title2 demo cursor">{{image.designation}}</h4> -->
          <p class="quatation demo cursor">{{image.quatation}}</p>
      </div>
    </div>
  </owl-carousel>