
      <owl-carousel [options]="carouselOptions" [items]="TestimonialListArray" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div *ngFor="let image of TestimonialListArray;let i= index">
          <img class="slide-image" src="{{image.image}}" >
          <span class="slide-text" (click)="showBut()">
              <h1 class="title1 demo cursor">{{image.name}}</h1>
              <!-- <h4 class="title2 demo cursor">{{image.designation}}</h4> -->
              <p class="quatation demo cursor">{{image.quatation}}</p>
          </span>
        </div>
      </owl-carousel>
      <button mat-button class="btnblue sim-button" (click)="btnClick();">View More</button>
