
    .inventorysearch .example-container > .section1 {
        height: auto;
    }

    .inventorysearch .example-container > .section1 span{
        box-sizing: border-box;
        flex: 1 1 32.33%;
        margin: .5% !important;        
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .inventorysearch .example-container > .section1 span .mat-form-field{
      width: 100%;
    }
  
    .inventorysearch .formblockwrapper .mainwrappercontent{
        position: relative;
        z-index: 999;
        }
    
    .inventorysearch .example-container > .section1 > mat-form-field {
      box-sizing: border-box;
      width: 32.22%;
      margin: .5% !important;
    }
    /* .example-container .mat-form-field {
      margin: .5%!important;
  } */
  
  .inventorysearch .formblockwrapper{
      background-color:#fff;
      min-height: 1px;
      position: relative;
      display: block;
    }
  
  
    .inventorysearch .formblockwrapper:after{
      content: '';
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
    }
  
    .inventorysearch{margin: 0; padding: 0; margin-bottom: 20px !important;}
    .inventorysearch .formblock{margin-top: 25px; display: inherit;}

    .inventorysearch .example-container > .section2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: auto;
    }
    .inventorysearch .example-container > .section2 > span {        
        box-sizing: border-box;
        width: 32.33%;
        margin: .5% !important;
      }

      .inventorysearch .example-container .section2 span span {        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .inventorysearch .example-container .section2 .doublecolumn{
        display: flex;
        flex: 1 1 100%;
      }

      .inventorysearch .example-container .section2 .doublecolumn h4{
        display: flex;
        flex: 1 1 100%;
      }

      .inventorysearch .example-container .section2 .column h4{
        display: flex;
        flex: 1 1 100%;
      }

      .inventorysearch .example-container .section2 .column{
        display: flex;
        flex: 1 1 48%;
        margin: 1%;
      }

      .inventorysearch .example-container .section2 .column mat-form-field{
        width: 100% !important;
      }

      .inventorysearch .example-container .section2 mat-form-field{        
        width: 48% !important;
        margin: 1% !important;
      }

      .inventorysearch .mat-card-title {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        background: #000;
        padding: 6px 10px;
        color: #fff;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-top: 10px !important;
        margin-bottom: 5px !important;
        text-transform: capitalize;
        font-size: 20px !important;
    }


    .inventorysearch .example-container > .section3 {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .inventorysearch .example-container > .section3 > mat-checkbox {
        height: 20px;
        box-sizing: border-box;
        width: 24%;
        margin: .5% !important;
      }

      .inventorysearch .example-container > .section4 {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .inventorysearch .example-container > .section4 > .section4left{
      width: 75%;
      height: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: start;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .inventorysearch .example-container > .section4 > .section4right{
      width: 25%;
    }

    .inventorysearch .example-container > .section4 > .section4left > mat-checkbox {
        height: 20px;
        box-sizing: border-box;
        width: 32.33%;
        margin: .5% !important;
      }

      .inventorysearch .example-container > .section5 {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .inventorysearch .example-container > .section5 > span {
      height: auto;
      box-sizing: border-box;
      width: 32.33%;
      margin: .5% !important;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .inventorysearch .example-container > .section5 > .sellerrating{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .inventorysearch .example-container > .section5 > .sellerrating span{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
    }

    .inventorysearch .example-container > .section5 > .sellerrating span .mat-select{
      width: 48%;
      margin: .5%;
      box-sizing: border-box;
    }
    .inventorysearch .example-container > .section5 > .sellerrating h4{
      display: flex;
      flex: 1 1 100%;
    }

   

    .inventorysearch .example-container .mat-select {
      display: inline-block;
      width: 100%;
      outline: 0;
      padding: 10px !important;
      background: #fff;
      border: 1px solid #cfcccc;
  }

  .inventorysearch .example-container input {
    display: inline-block;
    width: 100%;
    outline: 0;
    padding: 10px !important;
    background: #fff;
    border: 1px solid #cfcccc;
}

  .inventorysearch .example-container .textarea {
    display: inline-block;
    width: 100%;
    outline: 0;
    padding: 10px !important;
    background: #fff;
    border: 1px solid #cfcccc;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 170px;
}

.inventorysearch .example-container .textarea .textareainner{
  display: flex!important;
  flex-wrap: wrap!important;
  flex-direction: column!important;
}


.inventorysearch .example-container h4{
  color: #474b4e;
  font-size: 15px;
  margin-bottom: 3px;
  margin-top: 3px;
  display: flex;
  flex: 1 1 100%;
}




.formatcls{
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}