<!-- <lib-contactus-listing [serverUrl]="serverUrl"
                       [addEndpoint]="addEndpoint"
                       [getDataEndpoint]="getDataUrl"
                       [contactUsAllDataHeader_skip]="contactUsAllDataHeaderSkip"
                       [contactUsAllDataModify_header]="contactUsAllDataModifyHeader"
                       [updateendpoint]="updateurl"
                       [deleteendpoint]="deleteurl"
                       [formTitle]="formTitle">
</lib-contactus-listing> -->
<!-- 
<div class="adminwrappercls">
    <app-header></app-header>
    <div class="main-content-wrap">
            <mat-card class="generalcls blog" style="padding: 0 !important;">  
                    <img src="../../../../assets/images/cus-dashboard-img1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
                    <img src="../../../../assets/images/cus-dashboard-img2.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
                    <img src="../../../../assets/images/cus-dashboard-img3.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
                    <img src="../../../../assets/images/cus-dashboard-img4.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
                </mat-card>
    </div>
</div>
<app-footer></app-footer> -->




<div class="adminwrappercls">
    <app-header></app-header>
    <div class="main-content-wrap">
      <mat-card class="generalcls" style="padding: 0 !important;">
        <mat-card-content class="customer-dashboard-banner">
          <span class="customer-dashboard-banner-inner">
              <h1 class="titleadmin">Welcome to Probid Auto</h1>
              <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <mat-button class="btnblue">Lean More</mat-button>
          </span>                    
        </mat-card-content>

        <mat-card-content class="customer-dashboard-block1">
          <span class="customer-dashboard-block1-inner">
            <h1 class="titleadmin">Rep’s Information</h1> 
            <span class="rsvplisttypecontentinfo">
              <span class="rsvplisttypeimgwrapper">
                <img src="../../../../assets/images/imguser.jpg">
              </span>
              <span class="listscontent">
                 <mat-list>
                  <mat-list-item><span class="labelcls">First Name:</span> <span class="datacls">Lorem Ipsum</span> </mat-list-item>
                  <mat-list-item><span class="labelcls">Contact Number:</span> <span class="datacls">Lorem Ipsum</span> </mat-list-item>
                  <mat-list-item><span class="labelcls">Last Name:</span> <span class="datacls">Lorem Ipsum</span> </mat-list-item>
                  <mat-list-item><span class="labelcls">Email Address:</span> <span class="datacls">Lorem Ipsum</span> </mat-list-item>
                 </mat-list>
              </span>
              <span class="imgwrapperblock1right">
                <img src="../../../../assets/images/imguser.jpg">
              </span>
            </span>         
          </span>                    
        </mat-card-content>

        <mat-card-content class="customer-dashboard-block2">
          <span class="customer-dashboard-block2-inner">
                        <h1 class="titleadmin">RSVP <mat-button class="btnblue">view all</mat-button></h1>     
                        <mat-list role="list" class="flexbox1column">
                            <mat-list-item role="listitem" class="rsvplistsingle">
                              <span class="deletecls"><i class="material-icons">delete</i></span>
                                <span class="rsvplistsingleinner">                                    
                                    <span class="rsvplistsingleleft">
                                        <span class="rsvpliststop">
                                          <span class="rsvplistimgwrapper">
                                              <img class="defaultimg" src="assets/images/no-image-default.jpg">
                                          </span>                        
                                        </span>
                                        <span class="rsvplistsbottom">
                                          <h2>TOYOTA CAMRY XSE 2016</h2>
                                          <h1>Price - <span>$ 25,000</span></h1>
                                          <span class="rsvplistsbottombtm">
                                            <mat-list>
                                                <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/milesicon.png"></strong> 100</mat-list-item>                                        
                                                <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/drivetrainicon.png"></strong> 50</mat-list-item>                                  
                                               
                                                <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/bodytypeicon.png"></strong> Automatic</mat-list-item>
                                              </mat-list>
                                          </span>
                                        </span>
                                    </span>
                                    <span class="rsvplistsingleright">
                                        <span class="rsvplisttypecontent">
                                          <h2>User</h2>
                                          <span class="rsvplisttypecontentinfo">
                                            <span class="rsvplisttypeimgwrapper">
                                              <img src="../../../../assets/images/imguser.jpg">
                                            </span>
                                            <span class="listscontent">
                                               <mat-list>
                                                <mat-list-item><span class="labelcls">Name:</span> <span>Lorem Ipsum</span> </mat-list-item>
                                                <mat-list-item><span class="labelcls">Email ID:</span> <span>Lorem Ipsum.1256@gmail.com</span> </mat-list-item>                                              
                                               </mat-list>
                                               
                                            </span>
                                          </span>
                                        </span>
                                        <span class="rsvplisttypecontent">
                                            <h2>Salesrep</h2>
                                            <span class="rsvplisttypecontentinfo">
                                                <span class="rsvplisttypeimgwrapper">
                                                  <img src="../../../../assets/images/imgsalesrep.jpg">
                                                </span>
                                                <span class="listscontent">
                                                   <mat-list>
                                                    <mat-list-item><span>Name:</span> <span>Lorem Ipsum</span> </mat-list-item>
                                                    <mat-list-item><span>Email ID:</span> <span>Lorem Ipsum.1256@gmail.com</span> </mat-list-item>
                                                   </mat-list>                                       
                                                  
                                                </span>
                                              </span>
                                        </span>
                                        <mat-button class="btnblue">view all</mat-button>                            
                                    </span>
                                </span>                       
                            </mat-list-item>

                            <mat-list-item role="listitem" class="rsvplistsingle">
                                <span class="deletecls"><i class="material-icons">delete</i></span>
                                  <span class="rsvplistsingleinner">                                    
                                      <span class="rsvplistsingleleft">
                                          <span class="rsvpliststop">
                                            <span class="rsvplistimgwrapper">
                                                <img class="defaultimg" src="assets/images/no-image-default.jpg">
                                            </span>                        
                                          </span>
                                          <span class="rsvplistsbottom">
                                            <h2>TOYOTA CAMRY XSE 2016</h2>
                                            <h1>Price - <span>$ 25,000</span></h1>
                                            <span class="rsvplistsbottombtm">
                                                <mat-list>
                                                    <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/milesicon.png"></strong> 100</mat-list-item>                                        
                                                <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/drivetrainicon.png"></strong> 50</mat-list-item>                                  
                                               
                                                <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/bodytypeicon.png"></strong> Automatic</mat-list-item>
                                                  </mat-list>
                                            </span>
                                          </span>
                                      </span>
                                      <span class="rsvplistsingleright">
                                          <span class="rsvplisttypecontent">
                                            <h2>User</h2>
                                            <span class="rsvplisttypecontentinfo">
                                              <span class="rsvplisttypeimgwrapper">
                                                <img src="../../../../assets/images/imguser.jpg">
                                              </span>
                                              <span class="listscontent">
                                                 <mat-list>
                                                    <mat-list-item><span class="labelcls">Name:</span> <span>Lorem Ipsum</span> </mat-list-item>
                                                    <mat-list-item><span class="labelcls">Email ID:</span> <span>Lorem Ipsum.1256@gmail.com</span> </mat-list-item>                                                
                                                 </mat-list>
                                                 
                                              </span>
                                            </span>
                                          </span>
                                          <span class="rsvplisttypecontent">
                                              <h2>Salesrep</h2>
                                              <span class="rsvplisttypecontentinfo">
                                                  <span class="rsvplisttypeimgwrapper">
                                                    <img src="../../../../assets/images/imgsalesrep.jpg">
                                                  </span>
                                                  <span class="listscontent">
                                                     <mat-list>
                                                        <mat-list-item><span>Name:</span> <span>Lorem Ipsum</span> </mat-list-item>
                                                       <mat-list-item><span>Email ID:</span> <span>Lorem Ipsum.1256@gmail.com</span> </mat-list-item>
                                                     </mat-list>                                       
                                                    
                                                  </span>
                                                </span>
                                          </span> 
                                          <mat-button class="btnblue">view all</mat-button>                           
                                      </span>
                                  </span>                       
                              </mat-list-item>

                              <mat-list-item role="listitem" class="rsvplistsingle">
                                <span class="deletecls"><i class="material-icons">delete</i></span>
                                  <span class="rsvplistsingleinner">                                    
                                      <span class="rsvplistsingleleft">
                                          <span class="rsvpliststop">
                                            <span class="rsvplistimgwrapper">
                                                <img class="defaultimg" src="assets/images/no-image-default.jpg">
                                            </span>                        
                                          </span>
                                          <span class="rsvplistsbottom">
                                            <h2>TOYOTA CAMRY XSE 2016</h2>
                                            <h1>Price - <span>$ 25,000</span></h1>
                                            <span class="rsvplistsbottombtm">
                                                <mat-list>
                                                    <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/milesicon.png"></strong> 100</mat-list-item>                                        
                                                    <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/drivetrainicon.png"></strong> 50</mat-list-item>                                  
                                                   
                                                    <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/bodytypeicon.png"></strong> Automatic</mat-list-item>
                                                  </mat-list>
                                            </span>
                                          </span>
                                      </span>
                                      <span class="rsvplistsingleright">
                                          <span class="rsvplisttypecontent">
                                            <h2>User</h2>
                                            <span class="rsvplisttypecontentinfo">
                                              <span class="rsvplisttypeimgwrapper">
                                                <img src="../../../../assets/images/imguser.jpg">
                                              </span>
                                              <span class="listscontent">
                                                 <mat-list>
                                                   <mat-list-item><span class="labelcls">Name:</span> <span>Lorem Ipsum</span> </mat-list-item>
                                                   <mat-list-item><span class="labelcls">Email ID:</span> <span>Lorem Ipsum.1256@gmail.com</span> </mat-list-item>  
                                                 </mat-list>                                                 
                                              </span>
                                            </span>
                                          </span>
                                          <span class="rsvplisttypecontent">
                                              <h2>Salesrep</h2>
                                              <span class="rsvplisttypecontentinfo">
                                                  <span class="rsvplisttypeimgwrapper">
                                                    <img src="../../../../assets/images/imgsalesrep.jpg">
                                                  </span>
                                                  <span class="listscontent">
                                                     <mat-list>
                                                       <mat-list-item><span>Name:</span> <span>Lorem Ipsum</span> </mat-list-item>
                                                       <mat-list-item><span>Email ID:</span> <span>Lorem Ipsum.1256@gmail.com</span> </mat-list-item>
                                                     </mat-list>                                       
                                                    
                                                  </span>
                                                </span>
                                          </span>  
                                          <mat-button class="btnblue">view all</mat-button>                          
                                      </span>
                                  </span>                       
                              </mat-list-item>
                            
                        </mat-list>                 
          </span>                    
        </mat-card-content>


      </mat-card>
    </div>
</div>
<app-footer></app-footer>