<app-header></app-header>
<mat-card class="innerpagebanner basicinventorysearchbg">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Basic Inventory Search</h1>
    </mat-card-content>
  </span>
</mat-card>
<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">
    <mat-card-content class="bred_cram_wrapper">
      <mat-list class="bred_cram_wrapper_list">
        <mat-list-item routerLinkActive="active">
          <a> inventory </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
        <mat-list-item routerLinkActive="active activebread">
          <a [routerLink]="'/basic-inventory-search'"> Basic Inventory Search </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </span>
</mat-card>
<mat-card class="ptb-35 generalcls inventorysearch" style="padding: 0 !important;">
  <span class="formblockwrapper">
    <span class="mainwrappercontent">
      <!-- <img src="../../../../assets/images/basic-inventory-search.jpg"
      style="width: 100%; display: block; margin: 0; padding: 0;"> -->

      <span class="formblock">
        <form class="example-container" [formGroup]="inventoryCustomerForm" (ngSubmit)="inventoryCustomerSearch()">

          <span class="section1">
            <span>
              <span>
                <h4>Make:</h4>
                <mat-form-field>
                  <mat-select formControlName="make" placeholder="Make">
                    <mat-option *ngFor="let makeval of make_list" [value]='makeval.make_name'>
                      {{makeval.make_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>


              <span>
                <h4>Model:</h4>
                <mat-form-field>
                  <mat-select formControlName="model" placeholder="Model">
                    <mat-option *ngFor="let modelval of model_list" [value]='modelval.model_name'>
                      {{modelval.model_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span>
                <h4>Type:</h4>
                <mat-form-field>
                  <mat-select formControlName="type" placeholder="Type">
                    <mat-option *ngFor="let typeval of type_list" [value]='typeval.TypeName'>
                      {{typeval.TypeName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
            </span>
            <span>
              <span>
                <h4>Vehicle Type:</h4>
                <mat-form-field>
                  <mat-select formControlName="vehicle" placeholder="VEHICLE TYPE">
                    <mat-option value="">VEHICLE TYPE</mat-option>
                    <mat-option value="vt1">VEHICLE TYPE 1</mat-option>
                    <mat-option value="vt2">VEHICLE TYPE 2</mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span>
                <h4>Year:</h4>
                <mat-form-field>
                  <mat-select formControlName="year" placeholder="Year">
                    <mat-option *ngFor="let yearval of year_list" [value]='yearval.year'>
                      {{yearval.year}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span>
                <h4>Trim:</h4>
                <mat-form-field>
                  <mat-select formControlName="trim" placeholder="Trim">
                    <mat-option value="">Trim</mat-option>
                    <mat-option value="trim1">Trim 1</mat-option>
                    <mat-option value="trim2">Trim 2</mat-option>
                  </mat-select>
                </mat-form-field>
              </span>

            </span>
            <span>
              <span>
                <h4>VIN:</h4>
                <mat-form-field>
                  <mat-select formControlName="vin" placeholder="VIN">
                    <mat-option value="">VIN</mat-option>
                    <mat-option value="vin1">vin1</mat-option>
                    <mat-option value="vin2">vin2</mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span>
                <h4>State:</h4>
                <mat-form-field>
                  <mat-select formControlName="state" placeholder="STATE">
                    <mat-option *ngFor="let item of stateList" [value]="item.abbreviation">{{item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span>
                <h4>Zip:</h4>
                <mat-form-field>
                  <mat-label>ZIP</mat-label>
                  <input matInput formControlName="zip" type="ZIP" placeholder="ZIP">
                </mat-form-field>
              </span>



            </span>
            <span class="buttonslist">
              <button mat-raised-button color="primary" type="reset"> Reset</button>
              <button mat-raised-button color="primary" type="submit"> Search</button>
            </span>

          </span>

        </form>
      </span>

    </span>

    <span class="mainwrappercontent">
      <mat-list class="rightcontent" *ngIf="search != null && search.length>=0">
        <mat-list-item class="rightcontentrow" *ngFor="let item of search; let i= index;">
          <mat-card-content class="col-1-3">
            <span class="as_imgwrapper">
              <img *ngIf="item.media.photo_links != null && item.media.photo_links[0] !=null && modalImg == ''"
                [src]="item.media.photo_links[0]">
              <img *ngIf="modalImg != ''" [src]="modalImg">
              <img *ngIf="item.media.photo_links == null" src="../../assets/images/default_car_img.jpeg">
            </span>
            <span class="as_sm_imgmainwrapper">
              <owl-carousel [options]="carouselOptions" [items]="TestimonialListArray"
                [carouselClasses]="['owl-theme', 'row', 'sliding']">
                <div class="sm-imgwrapper" *ngFor="let img of item.media.photo_links; let j= index;">
                  <img *ngIf="item.media.photo_links == null" src="../../assets/images/default_car_img.jpeg">
                  <img *ngIf="item.media.photo_links != null && item.media.photo_links[0] !=null" [src]="img"
                    (click)="showimg(img,i, j)">
                </div>

              </owl-carousel>



              <!-- <span class="as_sm_imgmainwrapperinner">
                    <span class="sm-imgwrapper" *ngFor="let img of item.media.photo_links">
                      <img *ngIf="item.media.photo_links != null && item.media.photo_links[0] !=null" [src]="img" (click)="showimg(img)">
                      <img *ngIf="item.media.photo_links == null" src="../../assets/images/default_car_img.jpeg"></span>
                    </span>
                </span>               -->
            </span>
          </mat-card-content>
          <mat-card-content class="col-1-7">
            <span class="subrighrwrapper">
              <span class="sub-col-6">
                <span class="text-wrapper">
                  <h2 *ngIf="item.heading != null">{{item.heading}}</h2>
                  <h3 *ngIf="item.vin != null">VIN: {{item.vin}}</h3>

                  <p *ngIf="item.build.cylinders != null">{{item.build.cylinders}} Cylinders </p>
                  <p *ngIf="item.build.vehicle_type != null">Vehicle Type: {{item.build.vehicle_type}}</p>
                  <p *ngIf="item.build.transmission != null">Transmission: {{item.build.transmission}}</p>
                  <p *ngIf="item.build.fuel_type != null"> Fuel: {{item.build.fuel_type}}</p>

                  <label id="example-radio-group-label">Pick your favorite season</label>
                  <br>
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="favoriteSeason">
                    <mat-checkbox class="red"></mat-checkbox>
                    <mat-checkbox class="black"></mat-checkbox>
                    <mat-checkbox class="blue"></mat-checkbox>
                    <mat-checkbox class="white"></mat-checkbox>
                  </mat-radio-group>

                  <p *ngIf="item.build.body_type != null">Body Type: {{item.build.body_type}}</p>
                </span>
              </span>
              <span class="sub-col-4">
                <mat-card-content class="rrblock1">
                  <h1 class="btnrsvp" (click)="rsvpSend(item)">RSVP</h1>
                  <button (click)="favorite(item)"><i class="material-icons"> favorite </i> ADD</button>
                  <mat-form-field *ngIf="user_details != null && user_details.type == 'salesrep'"
                    class="select-customer">
                    <mat-label>Select Customer</mat-label>
                    <mat-select [(ngModel)]="customur_id">
                      <mat-option *ngFor="let item of customerList" [value]="item._id">
                        {{item.fullname}}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-error
                    *ngIf="">
                    City field can not be blank</mat-error> -->
                  </mat-form-field>
                </mat-card-content>
                <mat-card-content class="rrblock1 currentbidprice">
                  <span class="text-wrapper" *ngIf="item.price != null">
                    <p>Current Bid Price: </p>
                    <h5>${{item.price}}</h5>
                    <h6 *ngIf="item.build.engine != null"><strong>Engine Type</strong>
                      <span>{{item.build.engine}}</span></h6>
                  </span>
                </mat-card-content>
              </span>
            </span>
          </mat-card-content>
          <span class="pa_blockfooter">
            <mat-list *ngIf="item.build != null">
              <mat-list-item class="pa_blockfooterlogo"> <img src="../../assets/images/logomain.png"> </mat-list-item>
              <mat-list-item class="pa_blockfootertext"> <strong>Interior Color</strong> Black</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.drivetrain != null"> <strong>Drive
                  Train</strong> {{item.build.drivetrain}}</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.year != null"> <strong>Year</strong>
                {{item.build.year}}</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.make != null"> <strong>Make</strong>
                {{item.build.make}}</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.model != null"> <strong>Model</strong>
                {{item.build.model}}</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.body_type != null"> <strong>Type</strong>
                {{item.build.body_type}}</mat-list-item>
            </mat-list>
          </span>
        </mat-list-item>
      </mat-list>
    </span>
  </span>
</mat-card>

<app-footer></app-footer>