/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../src/assets/css/style.css";
@import "../src/assets/css/admin-style.css";
@import "../src/assets/css/media.css";
@import "../src/assets/css/admin-media.css";


@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "~material-icons/iconfont/material-icons.css"; */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.contact-form .main-div{height:auto!important;display:inherit!important;justify-content:inherit!important;align-items:inherit!important}
.contact-form .mat-form-field-appearance-legacy .mat-form-field-wrapper .mat-form-field-suffix{color: #000;}

.example-container .mat-form-field { margin: 0 0px !important;}
.mat-focused .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: none !important}
.mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: block !important}
.mat-form-field-label.ng-star-inserted {display: none !important}
.mat-form-field-infix {border: 0 !important}

.mat-dialog-container {padding: 0 !important;}


.mat-focused .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: none !important}
.mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: block !important}
.mat-form-field-label.ng-star-inserted {display: none !important}
.mat-form-field-infix {border: 0 !important;}



.carousel{
    /* overflow: inherit !important; */
    height: 100%;
}

.carousel .carousel-indicators > button {
    width: 19px !important;
    height: 19px !important;
    margin: 7.5px;
    background-color: #3e4447;
}
.carousel-indicators{
    display: block !important;
    margin: 0 !important;
}

.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
    background-color: #91989b;
}
.carousel > button .mat-icon{
    color:#fff !important;
}



.mat-card{ background:white!important;}
.mat-dialog-container{padding: 10px !important;border-radius: 0;overflow: hidden !important;}
.mat-dialog-container .mat-dialog-title{
    background-color: #4f4f4f;
    border: 0px;
    padding: .35em;
    color: #ffffff;
}

.mat-dialog-container .mat-card {
    transition: none !important;
    display: flex;
    position: relative;
    padding: 5px;
    border-radius: 0px;
    align-items: center;
}

.mat-dialog-container .mat-card .mat-card-header{white-space: normal; word-break: break-word;}
.mat-dialog-container .mat-card .mat-card-content{white-space: normal; word-break: break-word;}

.mat-dialog-container .mat-card-header .mat-card-title {
    margin-bottom: 0;
    font-size: 16px;
}

.mat-dialog-container .mat-dialog-actions {
    margin-bottom: 0px;
    justify-content: center;
}

.mat-dialog-container .mat-dialog-actions button{
    display: inline-block;
    height: auto;
    background: #f7462e;
    font-size: 18px;
    color: #fff!important;
    text-transform: uppercase;
    font-family: 'HelveticaBold';
    text-decoration: none!important;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
    white-space: normal;
    margin-top: 10px;;
    padding: 12px 10px;
    border-radius: 0px !important;
}

  
  .cdk-global-overlay-wrapper {
      align-items: center !important;
  }
  .cdk-global-overlay-wrapper .mat-bottom-sheet-container bottom-sheet .mat-nav-list{display:flex; padding-top:0 !important;}
  .mat-bottom-sheet-container bottom-sheet .mat-nav-list .mat-list-item {
      display: inline-block;
      height: auto;
      background: #cc3333;
      font-size: 18px;
      color: #fff!important;
      text-transform: uppercase;
      font-family: 'Ralewaybold';
      text-decoration: none!important;
      line-height: normal;
      text-align: center;
      margin: 5px;
      white-space: normal;
      padding: 12px 10px;
      border-radius: 0px !important;
  }
  
  .mat-bottom-sheet-container bottom-sheet .mat-nav-list{text-align: center;}
  
  
  
  
  .mat-dialog-container .mat-card-header .mat-card-title{
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 600;
  }
  
  .mat-dialog-content {
      padding: 0 24px !important;
      box-shadow: none !important;
  }
  .mat-form-field {
    margin: 0 10px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #e0361f;
}



.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    background: #ff0000 !important;
    color: #fff;
    border: none;
    padding: 10px !important;
    font: inherit;
}