/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../src/assets/css/style.css";
@import "../src/assets/css/admin-style.css";
@import "../src/assets/css/media.css";
@import "../src/assets/css/admin-media.css";

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "~material-icons/iconfont/material-icons.css"; */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.contact-form .main-div{height:auto!important;display:inherit!important;justify-content:inherit!important;align-items:inherit!important}
.contact-form .mat-form-field-appearance-legacy .mat-form-field-wrapper .mat-form-field-suffix{color: #000;}

.example-container .mat-form-field { margin: 0 0px !important;}
.mat-focused .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: none !important}
.mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: block !important}
.mat-form-field-label.ng-star-inserted {display: none !important}
.mat-form-field-infix {border: 0 !important}

.mat-dialog-container {padding: 0 !important;}


.mat-focused .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: none !important}
.mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: block !important}
.mat-form-field-label.ng-star-inserted {display: none !important}
.mat-form-field-infix {border: 0 !important;}



.carousel{
    /* overflow: inherit !important; */
    height: 100%;
}

.carousel .carousel-indicators > button {
    width: 19px !important;
    height: 19px !important;
    margin: 7.5px;
    background-color: #3e4447;
}

.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
    background-color: #91989b;
}
.carousel > button .mat-icon{
    color:#fff !important;
}